n8n_workflows/login_page_workflow.json
{
  "name": "FlightBridge Login Page",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "login",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-login",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "login-page"
    },
    {
      "parameters": {
        "jsCode": "const html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Login - FlightBridge</title>\n    <meta name=\"description\" content=\"Login to FlightBridge - Sync your Flight Crew View to LogTen Pro\">\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n        \n        body {\n            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 20px;\n        }\n        \n        .login-container {\n            background: rgba(255, 255, 255, 0.95);\n            border-radius: 20px;\n            padding: 50px 40px;\n            max-width: 450px;\n            width: 100%;\n            box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);\n            text-align: center;\n        }\n        \n        .logo {\n            font-size: 3em;\n            margin-bottom: 10px;\n        }\n        \n        h1 {\n            color: #667eea;\n            font-size: 2em;\n            margin-bottom: 10px;\n        }\n        \n        .subtitle {\n            color: #666;\n            font-size: 1.1em;\n            margin-bottom: 40px;\n            line-height: 1.5;\n        }\n        \n        .login-button {\n            background: #667eea;\n            color: white;\n            border: none;\n            padding: 18px 40px;\n            border-radius: 12px;\n            font-size: 1.1em;\n            font-weight: 600;\n            cursor: pointer;\n            transition: all 0.3s;\n            width: 100%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 12px;\n            text-decoration: none;\n        }\n        \n        .login-button:hover {\n            background: #5568d3;\n            transform: translateY(-2px);\n            box-shadow: 0 10px 25px rgba(102, 126, 234, 0.3);\n        }\n        \n        .login-button-icon {\n            font-size: 1.3em;\n        }\n        \n        .divider {\n            margin: 30px 0;\n            text-align: center;\n            color: #999;\n            position: relative;\n        }\n        \n        .divider::before,\n        .divider::after {\n            content: '';\n            position: absolute;\n            top: 50%;\n            width: 40%;\n            height: 1px;\n            background: #ddd;\n        }\n        \n        .divider::before {\n            left: 0;\n        }\n        \n        .divider::after {\n            right: 0;\n        }\n        \n        .back-link {\n            color: #667eea;\n            text-decoration: none;\n            font-weight: 500;\n            transition: color 0.3s;\n        }\n        \n        .back-link:hover {\n            color: #5568d3;\n            text-decoration: underline;\n        }\n        \n        .features {\n            text-align: left;\n            margin: 30px 0;\n            padding: 20px;\n            background: #f8f9ff;\n            border-radius: 12px;\n        }\n        \n        .features h3 {\n            color: #333;\n            font-size: 1.1em;\n            margin-bottom: 15px;\n        }\n        \n        .feature-item {\n            display: flex;\n            align-items: start;\n            gap: 10px;\n            margin-bottom: 12px;\n            color: #555;\n        }\n        \n        .feature-icon {\n            color: #667eea;\n            font-weight: bold;\n            flex-shrink: 0;\n        }\n        \n        .security-note {\n            margin-top: 30px;\n            padding: 15px;\n            background: #e8f5e9;\n            border-radius: 8px;\n            font-size: 0.9em;\n            color: #2e7d32;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n        }\n        \n        .security-icon {\n            font-size: 1.5em;\n            flex-shrink: 0;\n        }\n        \n        @media (max-width: 480px) {\n            .login-container {\n                padding: 40px 25px;\n            }\n            \n            h1 {\n                font-size: 1.6em;\n            }\n            \n            .subtitle {\n                font-size: 1em;\n            }\n            \n            .login-button {\n                padding: 16px 30px;\n                font-size: 1em;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"login-container\">\n        <div class=\"logo\">✈️</div>\n        <h1>Welcome to FlightBridge</h1>\n        <p class=\"subtitle\">Connect your Flight Crew View account to get started</p>\n        \n        <a href=\"/webhook/oauth-start\" class=\"login-button\">\n            <span class=\"login-button-icon\">🔐</span>\n            <span>Connect with Flight Crew View</span>\n        </a>\n        \n        <div class=\"features\">\n            <h3>What you'll get:</h3>\n            <div class=\"feature-item\">\n                <span class=\"feature-icon\">✓</span>\n                <span>Automatic sync of your flight schedule</span>\n            </div>\n            <div class=\"feature-item\">\n                <span class=\"feature-icon\">✓</span>\n                <span>Timezone corrections for accurate logs</span>\n            </div>\n            <div class=\"feature-item\">\n                <span class=\"feature-icon\">✓</span>\n                <span>One-click import to LogTen Pro</span>\n            </div>\n            <div class=\"feature-item\">\n                <span class=\"feature-icon\">✓</span>\n                <span>14-day free trial, then $9.99/month</span>\n            </div>\n        </div>\n        \n        <div class=\"security-note\">\n            <span class=\"security-icon\">🔒</span>\n            <span>We use secure OAuth authentication. We never see your Flight Crew View password.</span>\n        </div>\n        \n        <div class=\"divider\">or</div>\n        \n        <a href=\"/\" class=\"back-link\">← Back to Home</a>\n    </div>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "id": "code-html",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-21T19:50:00.000Z",
  "versionId": "1"
}
